<div class="row container">
    <app-portfolio-item *ngFor="let p of group.projects" [project]="p">
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </app-portfolio-item>
</div>
