<div id="nav">
    <ul>
        <li><a routerLink="home" routerLinkActive="active">home()</a></li>
        <li><a routerLink="portfolio" routerLinkActive="active">portfolio()</a></li>
        <li><a routerLink="resumee" routerLinkActive="active">about()</a></li>
    </ul>
</div>
<router-outlet></router-outlet>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
