div#nav{
    text-align: center;
    width: 100%;
    font-family: monospace;
    font-size: 1.5em;
}

ul{
    display: inline-block;
    list-style-type: none;
    padding-bottom: 1.5em;
    border-bottom: 1px white solid;

    li{
        float: left;

        a{
            margin: 2em;
            text-decoration: none;
            color: white;

        }
        a:hover{
            border-bottom: 1px white dashed;
            cursor: pointer;
        }
    }
}
