<div class="col s12 m6 l4">
    <div class="card grey darken-3">
        <div class="card-content white-text" (click)="showDetails()">
            <span class="card-title truncate">{{ this.title }}</span>
            <p *ngIf="this.isEmpty()">No Description</p>
            <p class="truncate">{{ this.description}}</p>
        </div>
        <div class="card-action">
            <a href="{{ this.link }}" target="_blank">Link to Source <i class="fa fa-gitlab" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
