.hello .name .developer{
  font-family: 'Work Sans', sans-serif;
}

.hello{
  font-weight: bold;
  letter-spacing: 15px;
  font-size: 8rem;
  color: #ffb41f;
}

.name{
  font-size: 6rem;
}

.center{
  text-align: center
}


.hero{
  padding: 3rem 0;
  border-bottom: 1px white solid;
}

.featured{
  padding-top: 3rem;
}
