<div class="container">
  <div class="hero">
    <h1 class="hello center">HELLO</h1>
    <h1 class="name center">I'M MAX</h1>
    <h2 class="developer center">DEVELOPER AND STUDENT</h2>
  </div>
</div>

<div class="featured">
  <app-featured-projects [featuredProjects]="group.projects">
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
  </app-featured-projects>
</div>
