<div class="row container">
  <app-portfolio-item *ngFor="let p of featuredProjects" [project]="p">
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
  </app-portfolio-item>
</div>
